html, body {
    height: 100%;
    margin: 0;
    text-shadow: 3px 3px 10px black;
}

body {
  background: radial-gradient(circle at top left, yellow, orange);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: blue;
}

div {
  background: radial-gradient(circle at bottom right, yellow, orange);
  border-radius: 5px;
  color: white;
}

.favorite-icon:hover {
  cursor: pointer;
}

li {
    line-height: 2rem;
}

img {
    width: 60%;
    border-radius: 10px;
}
