body {
    background: green;
}

#playing-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 100px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 3px;
  background: white;
}

.left {
  width: 30px;
  height: 30px;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  width: 30px;
  height: 30px;
  align-self: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.right {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}