html {
  background: linear-gradient(rgba(9 17 18 / 0.91), rgba(85, 83, 153, 0.91))
}

#drum-machine {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 100vh;
}

#pad-bank {
 background-color: rgba(85, 83, 153, 0.91);
 height: 90%;
 width: 60%;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(3, 1fr);
 padding: 10px;
 margin: auto;
 border-radius: 10px;
 box-shadow: 3px 3px 3px #facc15;
}

.drum-pad {
 height: 90%;
 width: 90%;
 margin: auto;
 border-radius: 10px;
 box-shadow: 3px 3px 3px #facc15;
 font-size: 2rem;
 color: #facc15;
 background-color: rgba(9 17 18 / 0.91);
 transition: transform 0.3s ease;
}

/* .drum-pad:hover {
 transform: scale(1.1);
 background-color: #facc15;
 color: rgba(9 17 18 / 0.91);
 box-shadow: 3px 3px 3px rgba(9 17 18 / 0.91);
} */

.drum-pad:active {
 background-color: red;
 box-shadow: 6px 6px 9px rgba(9 17 18 / 0.91);
 transform: scale(0.9);
}

#display {
 display: block;
 height: 3rem;
 line-height: 3rem;
 width: 40%;
 border-radius: 10px;
 background-color: rgba(9 17 18 / 0.91);
 font-size: 1.5rem;
 padding: 2%;
 color: #facc15;
 text-align: center;
 box-shadow: 3px 3px 3px #facc15;
}